body {
    background-color: CadetBlue;
}
  
h1 {
  color: navy;
}

table{
  background-color: Coral;
  border-style: dotted;
  border-color: CadetBlue;
body{
  background-color: Coral;
  border-style: dotted;
  border-color: CadetBlue;
}
